.App {
  text-align: center;
  background: linear-gradient( #208eb0, #4cd3f5) ;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.welcome_page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_page__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
.welcome_page__toggle label{
  color: #fff;
}

.game_page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 0;
  width: 50%;
  align-items: center;
}

.game_page__button{
  width: 200px;
  height:70px;
  margin-bottom: 5px !important
}

.game_page__button_container{
  width: 420px;
}

.dog_img{
  border-radius: 1px;
  height: 400px;
  margin: 10px
}

.gameover_page{
  display:flex;
  flex-direction: column;
  margin-top: 50px;
}
.breed_name_show {
  text-transform: capitalize !important
}

.victory_page{
  display:flex;
  flex-direction: column;
  margin-top: 200px;
}

.victory__correct_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.victory__correct_wrapper__icon--large{
  font-size: 70px !important
}

.victory__correct_wrapper__icon--white{
  color: #fff !important
}

.victory__rectangle {
  width: 157px;
  height: 3px;
  background-color: white;
  align-self: flex-end;
  margin-bottom: 20px;
}